body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
}
.header {
    background-color: #181818;
    color: #fff;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
.header a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(237, 19, 190);
}

.header a:not(:first-child):not(:nth-child(2))::before {
    content: "|";
    margin-left: 15px;
    margin-right: 30px;
  }

.time {
    margin-top: 50px;
    margin-bottom: 20px;
}
.welcome-message {
    font-size: 24px;
    color: #000;
    margin-bottom: 50px;
}

.logo {
    position: absolute;
    top: -5px;
    left: 30px; 
    width:200px;
    height: 100px;
    }

    video {
        border: 1px solid black;
        box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
    }
    
    button, input[type="number"] {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #45a049;
    }
    
    input[type="number"] {
        background-color: #fff;
        color: black;
    }
  