body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
    text-align: center; /* Centraliza todos os elementos inline ou inline-block */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    height: 100vh;
    position: relative;
    overflow: hidden;  
}
.header {
    padding: 20px 0; /* Aumenta o padding superior para empurrar para baixo */
}

.logo {
    max-width: 250px; /* Ajuste para o tamanho desejado */
    margin: 0 auto; /* Isso irá centralizar a imagem */
    display: block; /* Isso faz a imagem ser tratada como um bloco, permitindo o uso de margin auto */
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 3px solid #000; /* Adiciona borda preta ao redor do container */
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin: 40px auto; /* Aumenta a margem superior para empurrar tudo para baixo */
    border-radius: 50px;
    z-index: 10; /* Certifique-se que o container tenha um z-index maior que as imagens */
    position: relative;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px ;
    border-radius: 50px;
    font-size: 14px;
    background-color: #f1f1f1;;
}

input[type="submit"] {
    width: 40%; /* Reduz a largura do botão */
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #00a0e3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suaviza a transição do hover */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Muda a cor do botão ao passar o mouse */
}

a {
    text-decoration: none;
    color: #333;
}

.message {
    margin-top: 20px;
    color: #888;
}

.button {
    display: inline-block; /* Permite a aplicação de padding e width */
    width: 40%; /* Reduz a largura do botão */
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #00a0e3;
    color: #fff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado do link */
    transition: background-color 0.3s ease; /* Suaviza a transição do hover */
}

.button:hover {
    background-color: #0056b3; /* Muda a cor do botão ao passar o mouse */
}

.side-image {
    position: absolute;
    width: 50vw; /* Aumente esse valor para aumentar a imagem */
    height: auto; /* Isso manterá a proporção da imagem */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left {
    left: calc(-25vw); /* Metade da largura da imagem para fora da tela, ajuste conforme necessário */
}



.right {
    right: calc(-25vw); /* Metade da largura da imagem para fora da tela, ajuste conforme necessário */
}


@media only screen and (max-width: 900px){
    .container{
        width: 70%;
    }
    .side-image{
        display: none;
    }
}


