body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}
.header {
    background-color: #181818;
    color: #fff;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* ou absolute, dependendo do layout */
    z-index: 1000;
    flex: 0 0 auto;
}

.header a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

.header a:hover {
    text-decoration: underline;
    text-decoration-color: #E6007E;
}

.header a:not(:first-child):not(:nth-child(2))::before {
    content: "|";
    margin-left: 15px;
    margin-right: 30px;
}

.time {
    margin-top: 50px;
    margin-bottom: 20px;
}

.welcome-message {
    font-size: 24px;
    color: #000;
    margin-bottom: 50px;
}

.logo {
    position: absolute;
    top: -5px;
    left: 30px;
    width:200px;
    height: 100px;
}



button,
input[type="number"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e2e2e2;
}

input[type="number"] {
    background-color: #fff;
    color: black;
}

.video-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* Ajuste conforme necessário */
}

.video-btn {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.video-btn:hover {
    background-color: #e2e2e2;
}

.video-btn#playPause {
    font-weight: bold;
}


.campo-container {
    display: flex;
    justify-content: center;
    /* Centraliza o campo de futebol horizontalmente */
    align-items: center;
    /* Centraliza o campo de futebol verticalmente */
    height: 100vh;
    /* Altura total da viewport */
}

.campo-futebol {
    position: relative;
    width: 640px;
    /* Largura da sua imagem */
    height: 360px;
    /* Altura da sua imagem */
    margin: auto;
    /* Isso também ajudará a centralizar o campo se não estiver usando flexbox */
}

.campo-futebol img {
    width: 100%;
    height: auto;
    display: block;
    /* Remove espaços em branco abaixo da imagem */
}

.zona {
    position: absolute;
    cursor: pointer;
    border: 2px solid #d032ce;
    /* Cor da borda como na imagem */
    background-color: rgba(109, 1, 111, 0.5);
    font-size: small;
}

.zona:hover {
    background-color: rgba(109, 1, 111, 0.5);
    /* Cor mais opaca ao passar o mouse */

}
.zona .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.scroll-list-container {
    height: 200px;
    /* ou a altura que você desejar */
    overflow-y: auto;
    display: flex;
    width: 100%;
    align-self: stretch;
    justify-content: space-around;
    align-items: flex-start;
}

.scroll-list-container ul {
    padding: 0;
    list-style: none;
}

.scroll-list-container li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    width: 705px;
    /* Largura da linha */
}

.scroll-list-container li:hover {
    background-color: #a1ea92;
    text-align: center;
}

/* Ataque e defesa */
.player-list-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}


.nome-zona,
.porcentagem-zona {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    text-align: center;
    transition: opacity 0.3s ease;
    cursor: default;
}

.porcentagem-zona {
    opacity: 0;
}
.video-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* Ajuste conforme necessário */
}

.video-btn {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.video-btn:hover {
    background-color: #e2e2e2;
}

.video-btn#playPause {
    font-weight: bold;
}

.campo-futebol,
.video-container {
    max-height: 100%;
    display: block;
    /* Remove espaços em branco abaixo da imagem */

}
.zona:hover .nome-zona {
    opacity: 0;
}

.zona:hover .porcentagem-zona {
    opacity: 1;
}


/* lado esquerdo */

#M2 {
    top: 3%;
    left: 34.8%;
    width: 29.6%;
    height: 93%;
}
#B1{
    top: 3%;
    left: 4%;
    width: 14.5%;
    height: 93%;
}

#A1{
    top: 3%;
    left: 19%;
    width: 15%;
    height: 93%;
}
#B3{
    top: 3%;
    left: 81%;
    width: 14%;
    height: 93%;
}
#A3{
    top: 3%;
    left: 64.5%;
    width: 16%;
    height: 93%;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    flex: 1 0 auto;
}

.left-container,
.right-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 100px;
}

.campo-futebol,
.video-container {
    max-height: 100%;
    display: block;
    /* Remove espaços em branco abaixo da imagem */

}

.campo-futebol img {
    max-height: 100%;
}




.team-info {
    position: absolute;
    top: -50px;
    /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
    color: #879093;
    /* ou a cor que desejar para o texto */
    font-weight: bold;
    font-size: 1.5em;
    /* Ajuste o tamanho do texto conforme necessário */
}

.team-info img {
    width: 40px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 10px;
}

.left-team {
    left: 10px;
    /* Ajuste conforme necessário para alinhar com o lado esquerdo do campo */
}

.right-team {
    right: 10px;
    /* Ajuste conforme necessário para alinhar com o lado direito do campo */
}

p {
    color: white;
    justify-content: center;
}

.lista-jogadores-container {
    max-height: 300px;
    /* Ajuste conforme necessário */
    overflow-y: auto;
    /* Ativa a rolagem vertical se o conteúdo exceder a altura máxima */
    margin: 0 10px;
    /* Espaçamento acima e abaixo do contêiner */
    margin: 10px;
    flex: 1;
    overflow-y: auto;
}

.lista-jogadores {
    list-style: none;
    /* Remove estilos padrão da lista */
    padding: 0;
    /* Remove o padding padrão */
    margin: 0;
    /* Remove a margem padrão */
}

.jogador-item {
    display: flex;
    align-items: center;
    /* Centraliza verticalmente o conteúdo do item */
    margin-bottom: 10px;
    /* Espaçamento entre os itens */
}

.jogador-item img {
    width: 50px;
    /* Largura da foto do jogador */
    height: 50px;
    /* Altura da foto do jogador */
    border-radius: 50%;
    /* Torna a foto circular */
    margin-right: 10px;
    /* Espaçamento entre a foto e as informações do jogador */
    object-fit: cover;


}

.jogador-info h3 {
    font-size: 1em;
    /* Tamanho do nome do jogador */
    margin: 0;
    /* Remove a margem padrão */
}

.jogador-info p {
    font-size: 0.8em;
    /* Tamanho da posição do jogador */
    color: #666;
    /* Cor do texto da posição */
    margin: 0;
    /* Remove a margem padrão */
}


.listas-jogadores-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    /* Alinha os itens ao topo */
}



.scroll-list-container {
    height: 200px;
    /* ou a altura que você desejar */
    overflow-y: auto;
    display: flex;
    width: 100%;
    align-self: stretch;
    justify-content: space-around;
    align-items: flex-start;
}

.scroll-list-container ul {
    padding: 0;
    list-style: none;
}

.scroll-list-container li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    width: 705px;
    /* Largura da linha */
}

.scroll-list-container li:hover {
    background-color: #a1ea92;
    text-align: center;
}

/* Ataque e defesa */
.player-list-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.jogadores-atacando,
.jogadores-defendendo {
    flex: 1;
    /* Cada elemento ocupa metade do espaço */
    max-height: 300px;
    /* Altura máxima antes de mostrar a rolagem */
    overflow-y: auto;
    /* Mostra a barra de rolagem vertical se necessário */
    margin: 0 10px;


}



/* Adicionais para as listas UL dentro dos contêineres */
#jogadores-atacando-list,
#jogadores-defendendo-list {
    list-style: none;
    /* Remove marcadores padrão da lista */
    padding: 0;
    /* Remove preenchimento padrão */
    margin: 0;
    /* Remove margens padrão */
    cursor: pointer;
}
.lista-jogadores-container {
    max-height: 300px;
    /* Ajuste conforme necessário */
    overflow-y: auto;
    /* Ativa a rolagem vertical se o conteúdo exceder a altura máxima */
    margin: 0 10px;
    /* Espaçamento acima e abaixo do contêiner */
    margin: 10px;
    flex: 1;
    overflow-y: auto;
}

.lista-jogadores {
    list-style: none;
    /* Remove estilos padrão da lista */
    padding: 0;
    /* Remove o padding padrão */
    margin: 0;
    /* Remove a margem padrão */
}

.jogador-item {
    display: flex;
    align-items: center;
    /* Centraliza verticalmente o conteúdo do item */
    margin-bottom: 10px;
    /* Espaçamento entre os itens */
}

.jogador-item img {
    width: 50px;
    /* Largura da foto do jogador */
    height: 50px;
    /* Altura da foto do jogador */
    border-radius: 50%;
    /* Torna a foto circular */
    margin-right: 10px;
    /* Espaçamento entre a foto e as informações do jogador */
    object-fit: cover;


}

.jogador-info h3 {
    font-size: 1em;
    /* Tamanho do nome do jogador */
    margin: 0;
    /* Remove a margem padrão */
}

.jogador-info p {
    font-size: 0.8em;
    /* Tamanho da posição do jogador */
    color: #666;
    /* Cor do texto da posição */
    margin: 0;
    /* Remove a margem padrão */
}


.listas-jogadores-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    /* Alinha os itens ao topo */
}

.list-divider {
    width: 1px;
    /* Largura da linha */
    background-color: #dcdcdc;
    /* Cor da linha, escolha uma cor que combine com seu design */
    margin: 0 20px;
    /* Espaçamento horizontal da linha */
    height: auto;
    /* Altura automática para se ajustar ao conteúdo */
    align-self: stretch;
    /* Estica a linha para a altura dos contêineres adjacentes */
}

.scroll-list-container {
    height: 200px;
    /* ou a altura que você desejar */
    overflow-y: auto;
    display: flex;
    width: 100%;
    align-self: stretch;
    justify-content: space-around;
    align-items: flex-start;
}

.scroll-list-container ul {
    padding: 0;
    list-style: none;
}

.scroll-list-container li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    width: 705px;
    /* Largura da linha */
}

@media screen and (max-width: 768px) {
    .main-container,
    .left-container,
    .right-container,
    .listas-jogadores-container {
        flex-direction: column;
    }

    .left-container,
    .right-container {
        width: 100%;
    }

    .scroll-list-container li {
        width: auto;
    }
}

/* Estilização do Gráfico e Lista de Jogadores */
.listas-jogadores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.lista-jogadores-container,
#piechart {
    flex: 1;
    min-width: 250px; /* ajuste conforme necessário */
    max-width: 500px; /* ajuste conforme necessário */
    margin: 10px;
}