<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Delta Goal</title>
    <link rel="stylesheet" href="cadastro_usuario.css">
    <link rel="icon" href="../imagens/delta_goal_logo.png">
</head>
<body>
    <div class="container">
        <div class="side-image left">
            <img src="../imagens/images.png" alt="Imagem Lateral Esquerda">
        </div>
        <!-- Adiciona a linha horizontal -->
        <hr class="separator">
        <div class="cadastro-section">
            <h1>Cadastro:</h1>
            <form>
                <input type="text" placeholder="Nome">
                <input type="text" placeholder="Tempo dentro da empresa">
                <input type="text" placeholder="E-mail">
                <input type="password" placeholder="Senha">
                <input type="password" placeholder="Digite sua senha novamente">
                <a href="login.html" class="button">Acessar</a> 
            </form>
        </div>
    </div>
</body>
</html>
