<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/delta_goal_logo.png') }}">
  <title>Cadastro</title>
</head>
<body>
  <div class="main-login">
    <div class="left-login">
      <img src="{{ url_for('static', filename='img/images.png') }}" alt="Logo" class="left-login-image">
      <hr class="separator">
    </div>
    <div class="right-login">
      <div class="card-login">
        <h1>Cadastro</h1>
        <br>
        <form id="registrationForm">
          <input type="text" placeholder="Nome" name="nome" required>
          <input type="email" placeholder="E-mail" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
          <input type="password" placeholder="Senha" name="senha" required>
          <input type="password" placeholder="Confirme a Senha" name="confirma_senha" required>
          <button type="button" onclick="registerUser()" class="button">Cadastrar</button>
        </form>
        <div class="error-message">
          {% if error_message %}
              <p>{{ error_message }}</p>
          {% endif %}
      </div>
        <p class="message">Já possui conta? <a href="{{ url_for('login') }}">Login</a></p>
      </div>
    </div>
  </div>

  <script>
    async function registerUser() {
      const form = document.getElementById('registrationForm');
      const formData = new FormData(form);

      try {
        const response = await fetch('http://127.0.0.1:5000/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(Object.fromEntries(formData)),
        });

        if (response.ok) {
          // Cadastro bem-sucedido
          alert('Cadastro realizado com sucesso!');
          window.location.href = '/login';
        } else {
          const data = await response.json();
          document.getElementById('errorMessage').innerText = data.error_message || 'Erro no cadastro.';
        }
      } catch (error) {
        console.error('Erro na requisição:', error);
        document.getElementById('errorMessage').innerText = 'Erro na requisição.';
      }
    }
  </script>
</body>
</html>

