<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='imagens/delta_goal_logo.png') }}">
  <title>Cadastro</title>
</head>
<body>
  <div class="main-login">
    <div class="left-login">
      <img src="{{ url_for('static', filename='imagens/images.png') }}" alt="Logo" class="left-login-image">
      <hr class="separator"> <!-- Linha separadora -->
    </div>
    <div class="right-login">
      <div class="card-login">
        <h1>Cadastro</h1>
        <br>
        <form method="post" action="{{ url_for('cadastro') }}">
          <input type="text" placeholder="Nome" name="nome" value="{{ request.form['nome'] if 'nome' in request.form else '' }}" required>
          <input type="email" placeholder="E-mail" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" value="{{ request.form['email'] if 'email' in request.form else '' }}" required>
            <input type="password" placeholder="Senha" name="senha">
            <input type="password" placeholder="Confirme a Senha" name="confirma_senha">
            <button type="submit" class="button">Cadastrar</button>
        </form>
        <div class="error-message">
          {% if error_message %}
              <p>{{ error_message }}</p>
          {% endif %}
      </div>
        <p class="message">Já possui conta? <a href="{{ url_for('login') }}">Login</a></p>
      </div>
    </div>
  </div>
</body>
</html>
