<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta Goal</title>
    <link rel="stylesheet" href="inicial.css"> 
    <link rel="icon" href="../imagens/delta_goal_logo.png">
</head>
<body>
    <div class="header">
        <a href="inicial.html">
            <img src="../imagens/logo_b_w.png" alt="Logo" class="logo">
          </a>
        <a href="#">Home</a>
        <a href="#">Time</a>
        <a href="#">Partidas</a>
    </div>
    <img src="../imagens/palmeiras.png" alt="Logotipo Palmeiras" class="time">
    <div class="welcome-message">
        MENSAGEM DE BEM-VINDO
    </div>
</body>
</html>
