<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Delta Goal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/delta_goal_logo.png') }}">

</head>
<body>
    <header class="header">
        <img src="{{ url_for('static', filename='img/images.png') }}" alt="Logo" class="logo">
    </header>
    <div class="side-image left">
        <img src="{{ url_for('static', filename='img/delta_goal_logo.png') }}" alt="Imagem Lateral Esquerda">
    </div>
    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="flash-message">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h1>Acesso à plataforma</h1>
        <form method="post" action="/login">
            <input type="text" placeholder="E-mail" name="email">
            <input type="password" placeholder="Senha" name="password">
            <button type="submit" class="button">Acessar</button>
        </form>
       <p class="message">Esqueceu a senha? <a href="{{ url_for('esqueci_senha') }}">Clique aqui</a></p>
       <p class="message">Não possui uma conta? <a href="{{ url_for('cadastro') }}">Cadastre-se!</a></p>
    </div>
    <div class="side-image right">
        <img src="{{ url_for('static', filename='img/delta_prabaixo.png') }}" alt="Imagem Lateral Direita">
    </div>
    
</body>
</html>

