{% include 'header.html' %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/delta_goal_logo.png') }}">
</head>
<body>
    <div class="perfil-container">
        <h1>Perfil</h1>
        <p><strong>Nome:</strong> {{ user_data.nome }}</p>
        <p><strong>E-mail:</strong> {{ user_data.email }}</p>
        <!-- Adicione mais informações do perfil aqui, se necessário -->
    </div>
</body>
</html>