{% include 'header.html' %}


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta Goal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quebras_de_linha.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/delta_goal_logo.png') }}">
</head>
<body>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    
    async function drawChart() {
        
        var response = await fetch("http://localhost:5000/palmeiras_desfechos")
        response = await response.json()
        
        let dados = response
        console.log(dados)
        let keys = Object.keys(dados)
        const list = [["Desfecho", "Rupturas"]]
        
        for (let i = 0; i < keys.length; i++) {
            list.push([String(keys[i]),    dados[keys[i]]])
        }
        var data = google.visualization.arrayToDataTable(list);
        var options = {
            title: 'Desfechos Palmeiras'
        };
        
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        
        
        chart.draw(data, options);
        
    }
    
    window.onload = drawChart()
    async function drawChart5() {

        var response = await fetch("http://localhost:5000/bragantino_desfechos")
        response = await response.json()
        let dados = response
        console.log(dados)
        let keys = Object.keys(dados)
        const list = [["Desfecho", "Rupturas"]]

        for (let i = 0; i < keys.length; i++) {
            list.push([String(keys[i]),    dados[keys[i]]])
        }
        var data = google.visualization.arrayToDataTable(list);
        var options = {
            title: 'Desfechos Bragantino'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart1'));


        chart.draw(data, options);

        }

    window.onload = drawChart5()
    
  </script>


    <div class="left-container">
        <h3>Visão Geral</h3>
        <h4>Permanência nas sub-zonas</h4>
        <div class="campo-futebol">
        <img src="static/img/campo.png" alt="Campo de Futebol">
        

            <div class="zona" id="M2" onmouseover="showPercentage(this)" onmouseout="showName(this)" data-percentage="{{ porcentagem_quebra.get('Zona 2', 0) | round(2) }}">
                <p class="info nome-zona">2</p>
                <p class="info porcentagem-zona" style="display:none;">{{ porcentagem_quebra.get('Zona 2', 0) | round(2) }}%</p>
            </div>
            <div class="zona" id="B1" onmouseover="showPercentage(this)" onmouseout="showName(this)" data-percentage="{{ porcentagem_quebra.get('Zona 1 - B', 0) | round(2) }}">
                <p class="info nome-zona">1.B</p>
                <p class="info porcentagem-zona" style="display:none;">{{ porcentagem_quebra.get('Zona 1 - B', 0) | round(2) }}%</p>
            </div>
            <div class="zona" id="A1" onmouseover="showPercentage(this)" onmouseout="showName(this)" data-percentage="{{ porcentagem_quebra.get('Zona 1 - A', 0) | round(2) }}">
                <p class="info nome-zona">1.A</p>
                <p class="info porcentagem-zona" style="display:none;">{{ porcentagem_quebra.get('Zona 1 - A', 0) | round(2) }}%</p>
            </div>
            <div class="zona" id="B3" onmouseover="showPercentage(this)" onmouseout="showName(this)" data-percentage="{{ porcentagem_quebra.get('Zona 3 - B', 0) | round(2) }}">
                <p class="info nome-zona">3.B</p>
                <p class="info porcentagem-zona" style="display:none;">{{ porcentagem_quebra.get('Zona 3 - B', 0) | round(2) }}%</p>
            </div>
            <div class="zona" id="A3" onmouseover="showPercentage(this)" onmouseout="showName(this)" data-percentage="{{ porcentagem_quebra.get('Zona 3 - A', 0) | round(2) }}">
                <p class="info nome-zona">3.A</p>
                <p class="info porcentagem-zona" style="display:none;">{{ porcentagem_quebra.get('Zona 3 - A', 0) | round(2) }}%</p>
            </div>
        </div>
        <div class="listas-jogadores-container">
            <div class="lista-jogadores-container sep">
                <h3>Destaques SEP</h3>
                <ul class="lista-jogadores">
                    <!-- jogadores em destaques -->
                    {% for jogador in destaques.pal %}
                    <li class="jogador-item">
                        <!-- <img src="{{ url_for('static', filename=jogador.imagem) }}" alt="{{ jogador.nome }}"> -->
                        <div class="jogador-info">
                            <h3>{{ jogador.nome_jogador }}</h3>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="lista-jogadores-container rbb">
                <h3>Destaques RBB</h3>
                <ul class="lista-jogadores">
                    {% for jogador in destaques.red %}
                    <li class="jogador-item">
                        <!-- <img src="{{ url_for('static', filename=jogador.imagem) }}" alt="{{ jogador.nome }}"> -->
                        <div class="jogador-info">
                            <h3>{{ jogador.nome_jogador }}</h3>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            
                
            </div>
        </div>
        <style>
            .graficos {
                display: flex;
                flex: 1;
                width: 100%;
                height: fit-content;

            }

            .graficos-time-1,
            .graficos-time-2 {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 20px;
                border: 1px solid #ccc;
                height: fit-content;
            }
        </style>
        <div class="graficos">
            <div class="graficos-time-1">
                <div id="grafico-cruzamentos-1"></div>
                <div id="grafico-desfechos-1"></div>
            </div>
            <div class="graficos-time-2">
                <div id="grafico-cruzamentos-2"></div>
                <div id="grafico-desfechos-2"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['bar'] });

        google.charts.setOnLoadCallback(drawChart3);

        function drawChart3() {
            let destaques = '{{ destaques }}';
            destaques = destaques.replaceAll("&#39;", '"');
            destaques = JSON.parse(destaques);

            let destaques_1 = destaques.pal;

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Jogador');
            data.addColumn('number', 'Quantidade');

            for (let i = 0; i < destaques_1.length; i++) {
                let item = destaques_1[i];
                data.addRow([item.nome_jogador, item.num_participacoes_em_quebras_linha]);
            }

            var options = {
                chart: {
                    title: 'Número de participações em rupturas Palmeiras',
                    subtitle: '',
                },
                bars: 'horizontal',
                width: 400,
                height: 350,
                legend: { position: 'none' },
            };

            var chart = new google.charts.Bar(document.getElementById('grafico-cruzamentos-1'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
        }

        google.charts.load('current', { 'packages': ['bar'] });

        google.charts.setOnLoadCallback(drawChart2);

        function drawChart2() {
            let destaques = '{{ destaques }}';
            destaques = destaques.replaceAll("&#39;", '"');
            destaques = JSON.parse(destaques);

            let destaques_2 = destaques.red;

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Jogador');
            data.addColumn('number', 'Quantidade');

            for (let i = 0; i < destaques_2.length; i++) {
                let item = destaques_2[i];
                data.addRow([item.nome_jogador, item.num_participacoes_em_quebras_linha]);
            }

            var options = {
                chart: {
                    title: 'Número de participações em rupturas Bragantino',
                    subtitle: '',
                },
                bars: 'horizontal',
                width: 400,
                height: 350,
                legend: { position: 'none' },
            };

            var chart = new google.charts.Bar(document.getElementById('grafico-cruzamentos-2'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
        google.charts.load('current', { 'packages': ['corechart'] });


        </script>
        <div class="pup">
            <div id="piechart" style=" height: 400px; margin: 50px; color:black;"></div>
            <div id="piechart1" style=" height: 400px; margin: 50px; color:black;"></div>
        </div>


        <div class="right-container">
            <h2>Lances</h2>
            <h3>Lista de quebras</h3>

            <!-- Filtros -->
            <form method="POST" action=""
            <div class="filtros">
                <form action="/quebras" method="GET">
                    <div class="filtros-container">
                        <div class="filtro">
                            <label for="time">Time</label>
                            <select name="time" id="time" onchange="filterTimeQuebras()">
                                <option value="all">Todos</option>
                                <option value="Palmeiras">Palmeiras</option>
                                <option value="Bragantino">Bragantino</option>
                            </select>
                        </div>
                        <div class="filtro">
                            <label for="desfecho">Desfecho</label>
                            <select name="desfecho" id="desfecho" onchange="filterQuebras()">
                                <option value="all">Todos</option>
                                <option value="Forçou a saída de bola adversária">Forçou a saída de bola adversária</option>
                                <option value="Passe não concluído">Passe não concluído</option>
                                <option value="Passou a bola">Passou a bola</option>
                                <option value="Foi desarmado">Foi desarmado</option>
                                <option value="Não recebeu a bola">Não recebeu a bola</option>
                                <option value="Foi derrubado com a bola">Foi derrubado com a bola</option>

                            </select>
                        </div>
                        <div class="filtro">
                            <label for="zona">Zona</label>
                            <select name="zona" id="zona" onchange="filterQuebras()">
                                <option value="all">Todos</option>
                                <option value="Zona 2">Zona 2</option>
                                <option value="Zona 1 - B">Zona 1 - B</option>
                                <option value="Zona 1 - A">Zona 1 - A</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <h4>Selecione um lance para visualizar</h4>
            <div class="scroll-list-container">
                <ul id="cruzamentos-list">
                <div class="Filtro-Palmeiras" id="Filtro-Palmeiras">
                    <h4>Palmeiras:</h4>
                    {% for quebra in quebras %}
                    <li class="quebra" data-time="{{ quebra['time'] }}" data-desfecho="{{ quebra['desfecho'] }}" data-zona="{{ quebra['zona_defesa'] }}" onclick="seekToTime('{{ quebra['inicio_ruptura'] | convert_to_seconds }}', '{{ quebra['nome_jogador_ruptura'] }}')" style="display: list-item;" >
                        Quebra #{{ loop.index }} - {{ quebra['instante_inicial'] }} - {{ quebra['desfecho'] }} - {{ quebra['zona_defesa'] }}
                    </li>
                    {% endfor %}
                </div>
                <div class="Filtro-Bragantino" id="Filtro-Bragantino">
                    <h4>Bragantino:</h4>
                    {% for quebra1 in quebras1 %}
                    <li class="quebra" data-time="{{ quebra1['time'] }}" data-desfecho="{{ quebra1['desfecho'] }}" data-zona="{{ quebra1['zona_defesa'] }}" onclick="seekToTime('{{ quebra1['inicio_ruptura'] | convert_to_seconds }}','{{ quebra1['nome_jogador_ruptura'] }}')" style="display: list-item;">
                        Quebra #{{ loop.index }} - {{ quebra1['instante_inicial'] }} - {{ quebra1['desfecho'] }} - {{ quebra1['zona_defesa'] }}
                    </li>
                    {% endfor %}
                </div>
                    <!-- Repita para Bragantino -->
                </ul>
            </div>
        </div>     
        <video id="myVideo" width="630" height="480" controls>
            <source src="static/video/Jogo_Palmeiras_x_Bragantino.mp4" type="video/mp4">
            Seu navegador não suporta vídeos HTML5.
        </video>
        <br>
        <div class="video-controls">
            <button id="retroceder5" class="video-btn" onclick="retroceder(5)">◀ 5s</button>
            <button id="retroceder1" class="video-btn" onclick="retroceder(1)">◀ 1s</button>
            <button id="playPause" class="video-btn" onclick="playPause()">▶/⏸</button>
            <button id="avançar5" class="video-btn" onclick="avançar(5)">5s ▶</button>
            <button id="avançar1" class="video-btn" onclick="avançar(1)">1s ▶</button>
        </div>
        <div class="player-list-container">
            <div class="jogadores-atacando">
                <h3>Jogadores Atacando</h3>
                <ul id="jogadores-atacando-list"></ul>
            </div>
            
        </div>
    </div>
    
    <!-- Script para Controle do Vídeo -->
    <script>
        function seekToTime(timeInSeconds, nomeJogador) {
        var video = document.getElementById('myVideo');
        video.currentTime = timeInSeconds;
        
        var listaAtacando = document.getElementById('jogadores-atacando-list');
        listaAtacando.innerHTML = ''; // Limpa a lista atual

        // Adiciona o nome do jogador à lista
        var li = document.createElement('li');
        li.textContent = nomeJogador;
        listaAtacando.appendChild(li);

        // var listaDefendendo = document.getElementById('jogadores-defendendo-list');
        // listaDefendendo.innerHTML = ''; // Limpa a lista atual
        // jogadoresDef.split(',').forEach(function(jogador) {
        //     var li = document.createElement('li');
        //     li.textContent = jogador.trim();
        //     listaDefendendo.appendChild(li);
        // });
    }
        window.addEventListener('load', function() {
            // Funções para controle do vídeo
            function retroceder(segundos) {
                var video = document.getElementById("myVideo");
                video.currentTime = Math.max(video.currentTime - segundos, 0);
            }

            function avançar(segundos) {
                var video = document.getElementById("myVideo");
                video.currentTime = Math.min(video.currentTime + segundos, video.duration);
            }

            function playPause() {
                var video = document.getElementById("myVideo");
                if (video.paused) {
                    video.play();
                } else {
                    video.pause();
                }
            }

            // Adicionando os event listeners para os botões de controle do vídeo
            document.getElementById('retroceder5').addEventListener('click', function() { retroceder(5); });
            document.getElementById('retroceder1').addEventListener('click', function() { retroceder(1); });
            document.getElementById('playPause').addEventListener('click', playPause);
            document.getElementById('avançar5').addEventListener('click', function() { avançar(5); });
            document.getElementById('avançar1').addEventListener('click', function() { avançar(1); });
        });
    </script>
    <script>
        function showPercentage(zoneElement) {
            zoneElement.querySelector('.nome-zona').style.display = 'none';
            zoneElement.querySelector('.porcentagem-zona').style.display = 'block';
        }
    
        function showName(zoneElement) {
            zoneElement.querySelector('.nome-zona').style.display = 'block';
            zoneElement.querySelector('.porcentagem-zona').style.display = 'none';
        }
    </script>

    <script>
        function filterTimeQuebras() {
            var timeFilter = document.getElementById('time').value;

            var palmeiras = document.getElementById('Filtro-Palmeiras');
            var bragantino = document.getElementById('Filtro-Bragantino');

            if (timeFilter === 'Palmeiras') {
                palmeiras.style.display = '';
                bragantino.style.display = 'none';
            } else if (timeFilter === 'Bragantino') {
                palmeiras.style.display = 'none';
                bragantino.style.display = '';
            } else {
                palmeiras.style.display = '';
                bragantino.style.display = '';
            }
        }

        function filterQuebras() {
            var desfechoFilter = document.getElementById('desfecho').value;
            var zonaFilter = document.getElementById('zona').value;

            var quebras = document.getElementsByClassName('quebra');

            for (var i = 0; i < quebras.length; i++) {
                var quebra = quebras[i];

                var desfechoMatch = quebra.dataset.desfecho;
                var zonaMatch = quebra.dataset.zona;

                console.log(quebra.dataset);

                if ((desfechoMatch === desfechoFilter || desfechoFilter === 'all') && (zonaMatch === zonaFilter || zonaFilter === 'all')) {
                    quebra.style.display = '';
                } else {
                    quebra.style.display = 'none';
                }
            }
        }
    </script>
    

  </body>
</html>