<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Delta Goal</title>
    <link rel="stylesheet" href="redsenha.css">
    <link rel="icon" href="../imagens/delta_goal_logo.png">

</head>
<body>
    <header class="header">
        <img src="../imagens/images.png" alt="Logo" class="logo">
    </header>
    <div class="side-image left">
        <img src="../imagens/delta_goal_logo.png" alt="Imagem Lateral Esquerda">
    </div>
    <div class="container">
        <h1>Redefinição de senha</h1>
        <h4>Digite seu e-mail para que um link para redefinir sua senha seja enviado para o mesmo</h4>
        <input type="text" placeholder="E-mail">
        <a href="sucesso.html" class="button">Enviar</a> 
        <p class="message"> <a href="login.html">Retornar</a></p>
    </div>
    <div class="side-image right">
        <img src="../imagens/delta_prabaixo.png" alt="Imagem Lateral Direita">
    </div>
    
</body>
</html>