<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha - Delta Goal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/redsenha.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/delta_goal_logo.png') }}">
</head>
<body>
    <header class="header">
        <img src="{{ url_for('static', filename='img/images.png') }}" alt="Logo" class="logo">
    </header>
    <div class="side-image left">
        <img src="{{ url_for('static', filename='img/delta_goal_logo.png') }}" alt="Imagem Lateral Esquerda">
    </div>
    <div class="container">
        <h1>Redefinição de senha</h1>
        <h4>Digite seu e-mail para que um link para redefinir sua senha seja enviado para o mesmo</h4>
        {% if error_message %}
        <div class="error-message">
        {{ error_message }}
        </div>
        {% endif %}
        <form method="post" action="{{ url_for('esqueci_senha') }}">
            <input type="email" placeholder="E-mail" name="email" required>
            <button type="submit" class="button">Enviar</button> 
        </form>
        <p class="message"> <a href="{{ url_for('login') }}">Retornar</a></p>
    </div>
    <div class="side-image right">
        <img src="{{ url_for('static', filename='img/delta_prabaixo.png') }}" alt="Imagem Lateral Direita">
    </div>
</body>
</html>
